<div *ngIf="userAuthToken else loader" class="position-relative">
  <nav class="navbar navbar-dark" [ngStyle]="{
    'background-color': user?.brand === 'Mars Boots' ? '#f06292' : '#d32f2f'
  }">
    <div class="container">
      <a class="navbar-brand" href="#">{{ user?.brand === 'Mars Boots'  ? 'MARS BOOTS' : 'EARTHLY SHOES'}}</a>
      <span class="d-flex navbar-email position-relative">
        <strong>{{user?.email}}</strong>
        <div *ngIf="userAuthToken" class="position-absolute btn btn-dark btn-logout" (click)="logout()">Logout</div>
      </span>
    </div>
  </nav>
  <div class="container mt-4">
    <cumulio-dashboard
      #dashboardInstance
      *ngIf="key && token"
      [dashboardId]="dashboardId"
      [authKey]="key"
      [authToken]="token"
      [appServer]="appServer"
      [apiHost]="apiHost"
    >
    </cumulio-dashboard>
  </div>
</div>
<ng-template #loader>
  <div class="spinner-border text-danger loader" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
